{
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src",
          "public": "./public",
          "styles": "./src/assets/styles",
          "images": "./src/assets/images",
          "scripts": "./src/assets/scripts"
        }
      }
    ]
  ]
}