@import '@material/typography/mdc-typography';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  & > div {
    flex-grow: 1;
  }
}

h1 {
  @include mdc-typography(headline1);
}

h2 {
  @include mdc-typography(headline2);
}

h3 {
  @include mdc-typography(headline3);
}

h4 {
  @include mdc-typography(headline4);
}

h5 {
  @include mdc-typography(headline5);
}

h6 {
  @include mdc-typography(headline6);
}

p {
  @include mdc-typography(body1);
}
